@font-face {
    font-family: "Montserrat-Regular";
    src: url("fontes/Montserrat-Regular.ttf") format("truetype");
}

body { 
    font-family: Montserrat-Regular;
    padding: 0; margin: 0; 
}

h1 { 
    margin:0px;
    color: #555; 
} 
input, textarea {
    width: 200px; 
    padding: 10px; 
    color: black; 
    margin-left: 20px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border: 1px solid; 
}

ul{
    list-style: none;
}
.info>div{
    padding: 20px;
}



.info-1 ul li a {
    color: #999;
    padding: 5px 0px;
}
.container-principal{
    width: 100%;
    height: 100%;
    margin-right: 0px auto;
    background: white;
}

.container-principal h1{
    margin-left: 10px;
}

.container-principal ul{
    margin-left: 20px;
}

.img-principal{
    width: 180px;
    float: center;
    display: block;
    margin: 0px auto;
    margin-bottom: 15px;
    border-radius: 15px;
}
.sobre{
    display: block;
    margin-bottom: 50px;
    text-align: center;
}
.sobre div{
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
.contato{
    text-align: center;
    padding: 25px;
}
.redes-sociais img{
    height: 40px;
    margin-bottom: 10px;
}
.tabela-horario {
    padding: 25px;
    background: white;
    text-align: center;
    font-size: 16px;
}
.tabela-horario h1{
    text-align: center;
}

.Link-sem-format{
    text-decoration: none;
    margin-bottom: 20px;
}

.table-id{
    background-color: #222;
    color: white;
    font-weight: bold;
}

.table-livre{
    //background-color: azure;
    color: #999999;
}

table{
    margin: 5px auto;
    //border-collapse: collapse;
}

table td{
    color: black;
    padding: 5px 10px;
    border: 1px;
}
textarea { 
    width: 400px; height: 120px; line-height: 20px; max-width: 400px; 
} 

footer{
    background: #bababa;
    text-align: center;
    padding: 10px;
}

#header {
    background: white;
    width:auto;
    height: 305px;
    border-radius: 15px;
    padding: 30px;
    margin-left: 3px;
    margin-right: 2px;
    box-shadow: 1px 1px 1px 1px;
}

#header h1{
    text-align: center;
    font-family: Sans-serif;
}

#nav{
    background: #006960;//#222
    text-align: left;
    padding: 2px;
    margin-top: 10px;
    margin: 10px;
    border-radius: 5px;
}

#nav ul li{
    list-style: none;
    display: inline-block;
    /* visual do link */
    color: #333;
    text-decoration: none;
}

#nav ul{
    padding-right: 17%;
    text-align: center;
}

#nav li{
    padding-left: 17%;
    padding-top: 3px;
    padding-bottom: 3px;
}


#nav a{
    display: inline-block;
    color: #f2f2f2;
    font-size: 18px;
}

#nav #atual{
    color: #6699ff;//#CA104E, #ff0000
    display: inline-block;
    font-size: 20px;
}

#nav #atual:hover{
    color: #ff0000;
    text-decoration: none;
    font-size: 20px;
}

#nav a:hover{
    color: #ff0000;
    text-decoration: none;
    font-size: 20px;
}